@media (max-width: 940px) {
  .nav-toggle-label {
    display: block;
  }
  .navigation {
    position: absolute;
    width: calc(100% - 35px);
    top: 80px;
    left: 0;
    padding: 20px 0 20px 35px;
    z-index: 99;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(-500px);
    transform-origin: top;
    transition: 0.3s linear;
  }
  .navigation li {
    display: block;
    margin-top: 10px;
  }
  #nav-toggle:checked ~ .navigation {
    transform: translateY(0px);
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left p {
    padding-right: 0px;
  }
  .work-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #footer-menu {
    display: none;
  }
  .footer-bottom {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .services-container,
  .work-container,
  .team-container,
  .pricing-container,
  .stats-container,
  .contact-container {
    grid-template-columns: 1fr;
  }
  .stats-container {
    margin-top: 0;
    grid-row-gap: 2rem;
  }
  .about-container {
    background: rgba(0, 0, 0, 0.8);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
  }
  .about-left {
    width: 100%;
  }
  .about-left p,
  .about-left h3 {
    color: #fff;
  }
}
